<div id="survey-fields-wrapper">
  <div class="card-body">
    <div id="loader" class="config-loader" *ngIf="loading">
      <app-loading></app-loading>
    </div>
    <div *ngIf="!loading">
      <div>
        <div class="align-row row">
          <div class="col-sm-8 align-left">
            <h2 class="m-0">{{ 'surveyField.title' | translate }}</h2>
          </div>
          <div>
            <button type="button" class="btn btn-primary" (click)="openModal(create, 'new')">
              <span>
                <i class="fas fa-plus-circle"></i> {{ 'surveyField.create' | translate }}
              </span>
            </button>
          </div>
        </div>
        <div class="align-row row">
          <div class="col-sm-6 align-left">
            <div class="results-per-page">
              <ngx-select [noAutoComplete]="true" [(ngModel)]="config.itemsPerPage" [items]="maxResults"
                optionValueField="maxResults" (select)="doSelect($event, 'maxResults')">
              </ngx-select>
              <div>
                <div class="caption-text">{{ 'general.results' | translate }}</div>
              </div>
            </div>
          </div>
          <form>
            <input class="form-control" placeholder="{{ 'general.search' | translate }}.." type="text" (keyup)="keyUp($event)" required
              [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" />
            <button class="close-icon" type="reset" (click)="setSearch('')"></button>
          </form>
        </div>

        <div *ngIf="!surveyFieldsTable.length">
          <h3 *ngIf="!searchText">{{ 'general.emptyData' | translate }}</h3>
          <h3 *ngIf="searchText">{{ 'general.emptyDataForSearch' | translate }}</h3>
        </div>
        <app-table [tableData]="surveyFieldsTable" [tableHeaders]="('surveyField.tableHeaders' | translate)" [tableKeys]="tableKeys" [tableWidth]="tableWidth" (event)="action($event)"></app-table>
        <div class="align-row row pt-3">
          <div class="col-sm-6 align-left">
          <span>{{ 'general.showing' | translate }} {{ config.currentPage !== 1 ? (config.currentPage - 1) : '' }}{{ surveyFieldsTable.length ? 1 : 0 }} {{ 'general.to' | translate }} {{ config.itemsPerPage * config.currentPage < allFilteredSurveyFields.length ? config.itemsPerPage * config.currentPage : allFilteredSurveyFields.length }} {{ 'general.of' | translate }} {{ allFilteredSurveyFields.length }} {{ 'general.registries' | translate }}.</span>
            <span *ngIf="allSurveyFields.length !== allFilteredSurveyFields.length"> ({{ 'general.filtered' | translate }} {{ 'general.from' | translate }} {{ allSurveyFields.length }} {{ 'general.registries' | translate }})</span>
          </div>
          <div>
            <ngb-pagination [collectionSize]="allFilteredSurveyFields.length" [(page)]="config.currentPage" [(pageSize)]="config.itemsPerPage" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
            (pageChange)="onPageChange($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #create let-c="close">
  <div class="modalBox">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'surveyField.create' | translate }}</h4>
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="">
        <label>{{ 'harvest.name' | translate }}:</label>
        <div class="card-selects">
          <ngx-select [(ngModel)]="selectedSurveyField.harvestId" [items]="harvestsList" name="harvestId"
            optionValueField="id" optionTextField="description" (select)="doSelect($event, 'harvestId')"></ngx-select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link btn-secondary" (click)="closeModal()">{{ 'general.cancel' | translate }}</button>
      <button type="button" class="btn btn-success" (click)="createSurveyField()" [disabled]="!validForm">{{ 'general.select' | translate }}</button>
    </div>
  </div>
</ng-template>

<ng-template #delete let-c="close">
  <div class="modalBox">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'surveyField.delete' | translate }}</h4>
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="descriptionInput">
          <h5 class="m-0">{{ 'surveyField.deleteMessage' | translate }} "<span class="delete">{{ selectedSurveyField.plant }}</span>"?</h5><br>
          <h5 class="important">{{ 'general.cannotUndo' | translate }}</h5>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link btn-secondary" (click)="closeModal()">{{ 'general.cancel' | translate }}</button>
      <button type="button" class="btn btn-danger" (click)="deleteSurveyField()">{{ 'general.delete' | translate }}</button>
    </div>
  </div>
</ng-template>
