<nav id="navbar" class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary fixed-top">
  <div class="container-fluid pr-0">
    <div id="navbar" class="navbar-nav">
      <a class="nav-link" id="dashboard" [routerLink]="['/dashboard']">
        <i class="material-icons align-middle icon-size">home</i> Sistema MIP/MID
      </a>
    </div>

    <div class="nav-menu navbar-nav justify-content-end" [ngbCollapse]="!isCollapsed" ngbDropdown [autoClose]="'outside'">
      <a class="nav-link" id="menuDropdown" ngbDropdownToggle>
        <i class="material-icons align-middle icon-size">menu</i>
      </a>
      <div class="dropdown-menu dropdown-menu-right scrollable-menu mr-0" ngbDropdownMenu aria-labelledby="menuDropdown">
        <div class="pl-3 pr-3"> <b>Gerenciamento de Informações</b> </div>
        <a *ngFor="let info of infoMenu" class="dropdown-item" [routerLink]="[info.path]"> * {{ info.navTitle }} </a>
        <div class="pl-3 pr-3"> <b>Configuração da Pesquisa</b> </div>
        <a *ngFor="let researchConfig of researchConfigMenu" class="dropdown-item" [routerLink]="[researchConfig.path]"> * {{ researchConfig.navTitle }} </a>
        <div class="pl-3 pr-3"> <b>Manejo Integrado de Pragas</b> </div>
        <a *ngFor="let pest of pestMenu" class="dropdown-item" [routerLink]="[pest.path]"> * {{ pest.navTitle }} </a>
      </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown id="info">
          <a class="nav-link" id="profileDropdown" ngbDropdownToggle>
            <i class="material-icons align-middle icon-size">info</i> Gerenciamento de Informações
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="profileDropdown">
            <a *ngFor="let info of infoMenu" class="dropdown-item" [routerLink]="[info.path]"> {{ info.navTitle }} </a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown id="researchConfig">
          <a class="nav-link" id="profileDropdown" ngbDropdownToggle>
            <i class="material-icons align-middle icon-size">assignment</i> Configuração da Pesquisa
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="profileDropdown">
            <a *ngFor="let researchConfig of researchConfigMenu" class="dropdown-item" [routerLink]="[researchConfig.path]">
              {{ researchConfig.navTitle }} </a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown id="pest">
          <a class="nav-link" id="profileDropdown" ngbDropdownToggle>
            <i class="material-icons align-middle icon-size">bug_report</i> Manejo Integrado de Pragas
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="profileDropdown">
            <a *ngFor="let pest of pestMenu" class="dropdown-item" [routerLink]="[pest.path]"> {{ pest.navTitle }} </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
