<!-- <div class="logo">
  <a href="https://www.unicesumar.edu.br/" target="_blank" class="simple-text logo-normal">
    <img *ngIf="expanded" class="expanded" src="../../../assets/img/logo-unicesumar.png" alt="">
    <img *ngIf="!expanded" class="notExpanded" src="../../../assets/img/favicon.png" alt="">
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
      <a *ngIf="menuItem.path != '/versao' && menuItem.path != '/configuracao'"
        [routerLink]="[menuItem.path]">
        <i class="{{menuItem.icon}}"></i>
        <p *ngIf="expanded">{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div> -->
